.wrapper {
  -webkit-transform: translateY(15%);
          transform: translateY(15%);
}

.reg-opacity {
  background: rgba(255, 255, 255, 0.7);
}

@-webkit-keyframes slide-bar {
  0% {
    width: 0;
  }
}

@keyframes slide-bar {
  0% {
    width: 0;
  }
}

.underline {
  width: 80%;
  height: 2px;
  border-radius: 10px;
  margin: auto;
  background: white;
  -webkit-animation: slide-bar 1s 1s backwards ease-in-out;
          animation: slide-bar 1s 1s backwards ease-in-out;
}

main {
  height: 100vh;
  overflow: scroll;
  background: url("../images/2312056.jpg") no-repeat;
  background-size: cover;
}

h2 {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.4);
}

@-webkit-keyframes slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
}

@keyframes slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
}

form {
  -webkit-animation: slide-down 1s both ease-out;
          animation: slide-down 1s both ease-out;
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  border: 1px solid rgba(200, 200, 200, 0.7);
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

form p {
  margin-top: 1rem;
}

form .note {
  color: lightcyan;
}

form .note:hover {
  color: white;
  text-decoration: none;
}

form label {
  color: #1e1e1e;
}
